/*
Form Templates

<p class="usa-font-lead">Patterns for some of the most commonly used forms on government websites.</p>

Styleguide: USWDS.form-templates
*/

/*
Name form

<p class="usa-font-lead">A standard template for collecting a person’s full name.</p>

Markup: form-templates.name-form.twig

Styleguide: USWDS.form-templates.name-form
*/

/*
Address form

<p class="usa-font-lead">A standard template for entering a U.S. mailing or shipping address.</p>

Markup: form-templates.address-form.twig

Styleguide: USWDS.form-templates.address-form
*/

/*
Sign-in form

<p class="usa-font-lead">A template for signing a user into a website or app.</p>

Markup: form-templates.address-form.twig

Styleguide: USWDS.form-templates.address-form
*/
