<div class="typography-sans-intro usa-width-one-half usa-end-row {{modifier_class}}">
<div style="font-size:3em">Source Sans Pro</div>
<p>Source Sans Pro is an open-source sans serif typeface created for legibility in UI design. With a variety of weights that read easily at all sizes, Source Sans Pro provides clear headers as well as highly-readable body text.</p>
<p>A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</p>
<p>a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
<p>0 1 2 3 4 5 6 7 8 9</p>
</div>

<div class="typography-serif-intro usa-width-one-half usa-end-row usa-serif">
<div style="font-size:3em">Merriweather</div>
<p>Merriweather is an open-source serif typeface designed for on-screen reading. This font is ideal for text-dense design: the letterforms have a tall x-height but remain relatively small, making for excellent readability across screen sizes while not occupying extra horizontal space.</p>
<p>A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</p>
<p>a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
<p>0 1 2 3 4 5 6 7 8 9</p>
</div>
